body {
  background-color: #C5D7E2;
  font-family: font-family: "Times New Roman", Times, serif;
  border: 15px Blue;
 outline: #4CAF50 solid 10px;
 margin: auto;
 padding: 20px;
 text-align:left;
 text-shadow: 1px 1px 1px #528ecc;
 text: red;
 text-decoration:none;
}

h2 {
text-align: center;
}

p {
text-align: center;
}

h3 {
  text-decoration:none;
  text-align: left;
}
