p,h2,h3{
    text-shadow: 1px 1px 1px #528ecc;
}


body {
  background-color: #C5D7E2;
  font-family:"Times New Roman", Times, serif;
  border: 15px Blue;
 margin: auto;
 padding: 20px;
 text-shadow: 1px 1px 1px #528ecc;
 text-align: center;

}
