nav a {
  margin-right: 20px;  /* space between links */
  text-decoration: none;  /* optional: removes underline */
  color: black;  /* optional: sets link color */
}

p,h2,h3{
    text-shadow: 1px 1px 1px #FFFFFF;
}


body {
  background-color: #C5D7E2;
  font-family: sans-serif;
  border: 15px Blue;
 margin: auto;
 padding: 20px;
 text-shadow: 1px 1px 1px #FFFFFF;
 text-align: center;

}



