
body {
  background-color: #C5D7E2;
  font-family: font-family: sans-serif;
  border: 15px Blue;
 margin: auto;
 padding: 20px;
 text-align: center;
 text-shadow: 1px 1px 1px #FFFFFF;
}
h2 {
  text-shadow: 1px 1px 1px #528ecc
}
thead,th {
  background-color:rgb(100, 162, 178);
  color:black
  font-family:sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border:1px solid;
  text-shadow: .5px .5px .5px #FFFFFF;
}

table, td, tr {
border:1px solid;
text-align: center;
background: white;
font-size:18px;
text-shadow: .5px .5px .5px #FFFFFF;

}
table {
  width:100%

}

td, tr {
  font-family:sans-serif;
  font-weight: 600;
  padding: 20px;
  text-align: left;
  width: 0%;
