
body {
  background-color: #C5D7E2;
  font-family: font-family: "Times New Roman", Times, serif;
  border: 15px Blue;
 outline: #4CAF50 solid 10px;
 margin: auto;
 padding: 20px;
 text-align: center;
 text-shadow: 1px 1px 1px #528ecc;
}
h2 {
  text-shadow: 1px 1px 1px #528ecc
}
thead,th {
  background-color:rgb(100, 162, 178);
  color:black
  font-family:"Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border:1px solid;
  text-shadow: 2px 2px 2px #528ecc;
}

table, td, tr {
border:1px solid;
text-align: center;
background: white;
font-size:18px;
text-shadow: 1px 1px 1px #528ecc;
}


td, tr {
  font-family:"Times New Roman", Times, serif;
  font-weight: 600;
  padding: 20px;
  text-align: left;
  width: 0%;
