div.a {
color: Black;
width: 10%;
font-size:18px;
}
div.b {
color: Black;
width: 17%;
font-size:18px;
}
div.c {
  color: Black;
  width: 22%;
  font-size:18px;
}
div.d {
color: Black;
width: 30%;
font-size:18px;
}
div.e {
color: Black;
width: 39%;
font-size:18px;
}
div.f {
color: Black;
width: 46%;
font-size:18px;
}


body {
   background-color: #C5D7E2;
   font-family: sans-serif;
   border: 15px Blue;
   outline: #4CAF50 solid 10px;
   margin: auto;
   padding: 20px;
   text-align: center;
   text-shadow: 1px 1px 1px #FFFFFF;
}
