p,h2,h3{
    text-shadow: 1px 1px 1px #FFFFFF;

}

body{
    background-color: #C5D7E2;
    display: flex;
    justify-content: center;   
    align-items: center;      
    height: 100vh;  
    text-shadow: 1px 1px 1px #FFFFFF;

}
